@model IEnumerable<kokoni_aspnetcore_samples.Models.Tutorial2.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>テーブルリストサンプル</h2>
</div>

<div class="row">
    <div class="col-xs-4 col-md-2">
        <p>
            <a asp-action="Create">
                <input type="button" class="btn btn-primary" value="Create New" />
            </a>
        </p>
    </div>

    <div class="col-xs-4 col-md-7">
        <nav>
            <ul class="pagination" style="margin-top:0px;margin-bottom:0px;">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-xs-4 col-md-3">
        <form>
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..." name="SearchString">
                <span class="input-group-btn">
                    <button class="btn btn-default" asp-action="Index" asp-controller="Movies">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                <p>Control</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit"    asp-route-id="@item.ID"><input type="button" class="btn btn-primary" value="Edit" /></a>
                <a asp-action="Details" asp-route-id="@item.ID"><input type="button" class="btn btn-info" value="Details" /></a>
                <a asp-action="Delete"  asp-route-id="@item.ID"><input type="button" class="btn btn-danger" value="Delete" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
